extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to Update 
  else 
    - let Runid = toShow._id 
    - let Run_type = toShow.Run_type 
    - let Run_age = toShow.Run_age
    - let Run_rank = toShow.Run_rank 
   
    div.row(class='mb-2') 
        div.mr-1 ID is 
        div #{Runid} 
    - let actionid = "/resource/Run/" + Runid 
    form(id='RunForm', action= actionid, method="PUT") 
        div.form-group 
            label.RunAttr(for='Run_type') Run type 
            input#Run_type(type='text', name='Run_type',class="form-control", value= Run_type ) 
        div.form-group 
            label.RunAttr(for='Run_age') Run size 
            input#Run_age(type='number', name='Run_age',class="form-control", value=Run_age ) 
        div.form-group 
            label.RunAttr(for='Run_rank') Run cost 
            input#Run_rank(type='number', name='Run_rank',class="form-control", value= Run_rank) 
        input(type="submit" class="btn btn-success m-2" ) 
 
    script. 
        document.forms['RunForm'].addEventListener('submit', (event) => { 
        event.preventDefault(); 
        // TODO do something here to show user that form is being submitted 
        fetch(event.target.action, { 
            method: 'PUT', 
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
        }).then((resp) => { 
            return resp.json(); // or resp.text() or whatever the server sends 
        }).then((body) => { 
            alert("Update succeded") 
            // TODO handle body 
        }).catch((error) => { 
            // TODO handle error 
            alert("Update failed " + error ) 
        }); 
        }); 